$primary: aqua;
@import '~bootstrap/scss/bootstrap';

body {
	font: 12px 'Roboto', sans-serif;
	background: aquamarine;
}

h2 {
	font-weight: normal;
	text-decoration: underline;
}

.say-something {
	height: 100px;
	width: 100%;
	border: 1px solid magenta;
	background-image: url('../assets/user.png');
	background-size: 200px 200px;
}
